<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vista-inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'REGISTER_USER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #registroForm="ngForm" (ngSubmit)="registrarUsuario(registroForm)" novalidate>


    <!-- Nombre -->
    <ion-item>
      <ion-label position="floating">{{ 'REGISTER_USER' | translate }}</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroForm.submitted && registroForm.controls['nombre']?.invalid">
      <p>{{ 'ERROR_NAME_REQUIRED' | translate }}</p>
    </ion-text>

    <!-- Apellidos -->
    <ion-item>
      <ion-label position="floating">{{ 'LASTNAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="apellidos" name="apellidos" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroForm.submitted && registroForm.controls['apellidos']?.invalid">
      <p>{{ 'ERROR_LASTNAME_REQUIRED' | translate }}</p>
    </ion-text>

    <!-- RUT -->
    <ion-item>
      <ion-label position="floating">{{ 'RUT' | translate }}</ion-label>
      <ion-input
        [(ngModel)]="rut"
        name="rut"
        required
        pattern="^\d{1,2}\.\d{3}\.\d{3}-[\dkK]$"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroForm.submitted && registroForm.controls['rut']?.invalid">
      <p>{{ 'ERROR_RUT_INVALID' | translate }}</p>
    </ion-text>

    <!-- Teléfono -->
    <ion-item>
      <ion-label position="floating">{{ 'PHONE' | translate }}</ion-label>
      <ion-input
        [(ngModel)]="telefono"
        name="telefono"
        required
        pattern="^9\d{8}$"
        type="tel"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroForm.submitted && registroForm.controls['telefono']?.invalid">
      <p>{{ 'ERROR_PHONE_INVALID' | translate }}</p>
    </ion-text>

    <!-- Correo -->
    <ion-item>
      <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
      <ion-input
        [(ngModel)]="correo"
        name="correo"
        required
        type="email"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroForm.submitted && registroForm.controls['correo']?.invalid">
      <p>{{ 'ERROR_EMAIL_INVALID' | translate }}</p>
    </ion-text>

  <!-- Contraseña -->
  <ion-item>
    <ion-label position="floating">{{ 'PASSWORD' | translate }}</ion-label>
    <ion-input
      [(ngModel)]="clave"
      name="clave"
      required
      type="password"
    ></ion-input>
  </ion-item>

  <!-- Confirmar contraseña -->
  <ion-item>
    <ion-label position="floating">{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
    <ion-input
      [(ngModel)]="confirmarClave"
      name="confirmarClave"
      required
      type="password"
    ></ion-input>
  </ion-item>

<!-- Mensaje de error si no coinciden -->
<ion-text color="danger" *ngIf="registroForm.submitted && clave !== confirmarClave">
  <p>{{ 'ERROR_PASSWORD_MISMATCH' | translate }}</p>
</ion-text>



    <!-- Botón -->
    <ion-button expand="block" type="submit">
      {{ 'REGISTER' | translate }}
    </ion-button>

  </form>
</ion-content>
