<ion-header>
  <ion-toolbar>
    <ion-title>FireMaps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <!-- Logo o imagen -->
  <div style="margin-top: 40px;">
    <ion-img src="assets/icons/firemaps.webp" style="width: 120px; height: 120px; margin: auto;"></ion-img>
    <h2 style="margin-top: 10px;">FireMaps</h2>
  </div>

  <!-- Botones -->
  <div style="margin-top: 60px;">
    <ion-button expand="block" routerLink="/vista-registro-usuario">Registrarse</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/vista-login">Iniciar sesión</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/vista-home">Continuar como invitado</ion-button>
  </div>



</ion-content>
