<ion-content class="ion-padding ion-text-center inicio-content">

  <div class="logo-container">
    <h2 class="app-title">FireMaps</h2>

    <!-- Logo de FireMaps -->
    <img
      class="logo"
      src="assets/icons/icon.png"
      alt="FireMaps logo"
    />
  </div>

  <div class="botones">
    <ion-button
      expand="block"
      routerLink="/vista-registro-usuario"
    >
      {{ 'REGISTER' | translate }}
    </ion-button>

    <ion-button
      expand="block"
      routerLink="/vista-login"
      color="warning"
    >
      {{ 'LOGIN' | translate }}
    </ion-button>
  </div>

</ion-content>
