<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vista-inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #loginForm="ngForm" (ngSubmit)="iniciarSesion(loginForm)" novalidate>

    <!-- Correo -->
    <ion-item>
      <ion-label position="stacked">{{ 'EMAIL' | translate }}</ion-label>
      <input
        class="native-input"
        [(ngModel)]="correo"
        name="correo"
        type="email"
        required
        autocomplete="off"
        inputmode="email"
      />
    </ion-item>

    <!-- Contraseña -->
    <ion-item>
      <ion-label position="stacked">{{ 'PASSWORD' | translate }}</ion-label>
      <input
        class="native-input"
        [(ngModel)]="clave"
        name="clave"
        type="password"
        required
        autocomplete="off"
      />
    </ion-item>

    <!-- Botón -->
    <ion-button expand="block" type="submit">
      {{ 'LOGIN_BUTTON' | translate }}
    </ion-button>

  </form>
</ion-content>
