ion-content {
  --background: #E7E3E2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  color: black;
}

form {
  width: 100%;
  max-width: 360px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ion-item {
  --background: transparent;
  --color: black;
  border-radius: 8px;
  border: 1px solid #444;
  padding: 4px 8px;
}

ion-label {
  color: black;
  font-weight: 500;
}

ion-input {
  color: black;
}

ion-button {
  margin-top: 20px;
  --background: #F27B13;
  --color: #ffffff;
  --border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

ion-button:hover {
  --background: #F2CB57;
}

ion-header {
  ion-toolbar {
    --background: #E7E3E2;
    --color: black;
  }

  ion-title {
    color: black;
    font-weight: bold;
  }

  ion-back-button {
    --color: black;
  }
}
