/* Fondo y color general */
ion-content {
  --background: #E7E3E2;
  color: black;
  padding: 0;
}

/* Contenedor del formulario */
form {
  width: 100%;
  max-width: 360px;
  padding: 20px;
  margin: 40px auto 0 auto; // centrado similar al que ya tenías
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Input container */
ion-item {
  --background: transparent;
  --color: black;
  border-radius: 8px;
  border: 1px solid #444;
  padding: 4px 8px;
}

/* Label */
ion-label {
  color: black;
  font-weight: 500;
}

/* INPUT NATIVO dentro de ion-item */
.native-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-size: 16px;
  padding: 6px 0;
}

/* Botón */
ion-button {
  margin-top: 20px;
  --background: #F27B13;
  --color: #ffffff;
  --border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

ion-button:hover {
  --background: #F2CB57;
}

/* Header */
ion-header {
  ion-toolbar {
    --background: #E7E3E2;
    --color: black;
  }

  ion-title {
    color: black;
    font-weight: bold;
  }

  ion-back-button {
    --color: black;
  }
}
