<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vista-inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LOGIN_USER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="login-inner">

    <form #loginForm="ngForm" novalidate>

      <!-- Correo -->
      <div class="campo">
        <label>Correo</label>
        <input
          type="email"
          [(ngModel)]="correo"
          name="correo"
          required
          autocomplete="off"
        />
      </div>

      <!-- Error de correo -->
      <ion-text color="danger" *ngIf="submitted && !esCorreoBasicoValido(correo)">
        <p>Correo no válido</p>
      </ion-text>

      <!-- Contraseña -->
      <div class="campo">
        <label>Contraseña</label>
        <input
          type="password"
          [(ngModel)]="clave"
          name="clave"
          required
          autocomplete="off"
        />
      </div>

      <!-- Error de contraseña vacía -->
      <ion-text color="danger" *ngIf="submitted && !clave">
        <p>La contraseña es obligatoria</p>
      </ion-text>

      <!-- BOTÓN INGRESAR -->
      <ion-button
        expand="block"
        class="btn-login"
        type="button"
        (click)="iniciarSesion()"
        [disabled]="cargando"
      >
        {{ cargando ? ('LOGIN_LOADING' | translate) : ('LOGIN' | translate) }}
      </ion-button>

    </form>

  </div>
</ion-content>
