<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [fullscreen]="true" class="ion-padding">
  <div class="card-container">
    <ion-card *ngFor="let incidente of incidentes" class="incidente-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="alert-circle" color="danger" style="margin-right: 8px;"></ion-icon>
          {{ incidente.type }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content >
        <p><strong>Dirección:</strong> {{ incidente.address }}</p>
        <p><strong>Estado:</strong> {{ incidente.status }}</p>
        <p><strong>Prioridad:</strong> {{ incidente.priority }}</p>
        <p><strong>Fecha:</strong> {{ incidente.createdAt?.seconds * 1000 | date:'short' }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="incidentes.length === 0" class="empty-state">
    <ion-icon name="notifications-off" size="large"></ion-icon>
    <p>No hay notificaciones registradas</p>
  </div>
</ion-content>

<!-- Footer -->
<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/vista-notificaciones">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/vista-bombero">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/vista-ajustes">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
